<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>LuxoCar</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/about">À propos</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Trouvez votre voiture de luxe</h2>
            <p>Des berlines élégantes aux supercars exotiques, découvrez le luxe à portée de main.</p>
            <a href="/reservation" class="btn">Réserver Maintenant</a>
        </div>
    </section>

    <section class="fleet">
        <div class="container">
            <div class="car-item">
                <img src="/images/urus.jpg" alt="Voiture 1">
                <h3>Lamborghini Urus</h3>
                <p>Le SUV de luxe ultime, alliant puissance et élégance pour toutes vos aventures.</p>
                <a href="/about" class="btn">En savoir plus</a>
            </div>
            <div class="car-item">
                <img src="/images/classeG.webp" alt="Voiture 2">
                <h3>Mercedes- Benz : Classe G</h3>
                <p>L'icône du luxe et de la robustesse, conçue pour dominer tous les terrains avec élégance.</p>
                <a href="/about" class="btn">En savoir plus</a>
            </div>
            <div class="car-item">
                <img src="/images/rr.jpg" alt="Voiture 3">
                <h3>Rolls-Royce</h3>
                <p>L'apogée du luxe et du raffinement, offrant une expérience de conduite inégalée.</p>
                <a href="/about" class="btn">En savoir plus</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Location de Voitures. Tous droits réservés.</p>
            
        </div>
    </footer>
</body>
</html>
